.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.col1 {
    display: inline block;
    width: 200px;
}

.col2 {
    display: inline block;
    width: 100px;
}

.col3 {
    display: inline block;
    width: 600px;
}

.col1,
.col2,
.col3 {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.container {
    border: 1px solid black;
    width: 900px;
}